/*  I STOLE THIS CSS BC IM LAZY  */
  table {
    font-family: 'Times New Roman', Times, serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  /* I STOLE THIS CSS BC IM LAZY TOO */
  #myInput {
    background-image: url('/css/searchicon.png'); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 20%; /* Full-width */
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px; /* Increase font-size */
    padding: 12px 10px 12px 10px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
  }

  #chkholder {
      display:inline-flex;
      border: 1px solid #ddd;
      width:auto;
      padding: 10px 10px 13px 10px;
  }

  #banlabel {
    padding-right: 3px;
  }

  #notelabel {
    padding-right: 3px;
  }