/*  I STOLE THIS CSS BC IM LAZY  */
body {
  font-family: 'Fira Code';
  background-color: #282c34;
  color: #abb2bf;
}

  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  /* I STOLE THIS CSS BC IM LAZY TOO */
  #myInput {
    background-color: #282c34;
    color: #abb2bf;
    display:inline-flex;
    width: 20%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 10px 10px 12px 10px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
    height: 20px;
  }

  #chkholder {
      display:inline-flex;
      border: 1px solid #ddd;
      width:auto;
      padding: 10px 10px 12px 10px;
      height: 20px;
  }

  #banlabel {
    padding-right: 3px;
  }

  #notelabel {
    padding-right: 3px;
  }